.id-container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.id-background {
    /* position: absolute;
    top: 0;
    left: 0; */
    /* width: 100vw;
    height: 100vh; */
    object-fit: cover; /* Ensures the image covers the entire container without distortion */
    object-position: center; /* Centers the image */
    z-index: 1;
}